<footer class="tm-footer">
  <div class="tm-us">
    <p class="bold"><%= t ".about_us" %></p>
    <p>
      <%= t ".about_descrip" %>
    </p>
  </div>
  <div class="tm-address">
    <p class="bold"><%= t ".address" %></p>
    <p>
      <%= t ".address_" %>
    </p>
  </div>
</footer>
