@import 'variables';

/*===== Booking Table =====*/
.hotel_booking_area {
  padding-top: 100px;
}

.hotel_booking_table {
  background: $dark_blue;
  align-items: center;
  padding: 40px 50px 30px;
  display: flex;

  h2 {
    color: $white;
    text-transform: uppercase;
  }
}

.boking_table {
  margin-left: -50px;
}

.book_tabel_item {
  .form-group {
    margin-bottom: 0px;

    .input-group {
      position: relative;

      .form-control{
        font-size: 13px;
        line-height: 38px;
        padding: 0px 30px 0px 20px;
        min-width: 200px;
        z-index: 0;
        @include placeholder {
          color: $gray;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .input-group-addon {
        padding: 0px;
        border: 0px;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }
    }
  }

  .input-group {
      margin-bottom: 10px;
  }

  .nice-select {
    text-align: center;
    min-width: 200px;
    max-width: 250px;
    font-size: 13px;
    line-height: 40px;
    height: 40px;

    &:after{
      content: "\e874";
      font-family: 'Linearicons-Free';
      font-size: 13px;
      color: $gray;
      border: 0px;
      top: 0;
      margin-top: 0px;
      right: 20px;
      transform: rotate(0);
      transform-origin: 0 0;
    }
  }
}
