/*font Variables*/
$pop: 'Poppins', sans-serif;

/*============= Color Variables =============*/
$text: black;
$sidebar: #F5EEEC;
$hover: #4E67CC;
$active: #4bcf99;
$blur: rgba(255,255,255,0.5);
$main_bg: #f0f3f6;
$header: #908C8C;

$dark: #222222;
$yellow: #f3c300;
$light_blue: #52c5fd;
$light_gray: #bbb;
$gray: gray;

$grey: #3a382e;
$white: #fff;
$red: red;
$white_smoke: #f5f5f5;

/*button*/
$yellow_hover: #f8b100;

/*accomodation*/
$white_smoke: #f5f5f5;

/*footer*/
$dark_blue: #04091e;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
  transition: $property $duration $animate $delay;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin placeholder {
  &.placeholder {@content;}
  &:-moz-placeholder {@content;}
  &::-moz-placeholder {@content;}
  &::-webkit-input-placeholder {@content;}
}
