@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variables';
@import 'accomodation';
@import 'banner';
@import 'button';
@import 'header';
@import 'testimonial';
/* ==== Predefine ====*/
.list_style {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration:none;
  transition: all 0.3s ease-in-out;

  &:hover, &:focus {
    text-decoration:none;
    outline: none;
  }
}

.row.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-25 {
  margin-top: 25px;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: $pop;
  font-weight: 300;
}

section {
  background: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $pop;
  font-weight: 600;
}

button:focus {
  outline: none;
}

.container {
  @media(min-width:1200px) {
    max-width: 1170px;
  }
}

.section_gap  {
  padding: 100px 0;
}

.d_flex {
  display: flex;
}

.row_reverse {
  flex-direction: row-reverse;
}

.mb_30 {
  margin-bottom: -30px;
}

.section_title {
  margin-bottom: 50px;

  h2 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    line-height: 30px;
    color: $gray;
    margin-bottom: 0px;
  }
}

.title_color {
  color: $dark;
}

.title_w {
  color: $white;
}

.title {
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
}

.col-md-offset-right-1,.col-lg-offset-right-1{
  margin-right: 8.33333333%;
}


/* ==== Predefine end ====*/
.flash-alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

/* content-area */
.content-area {
  min-height: 80vh;
}

.content-padding {
  padding: 50px 50px;
}

/* footer */

.tm-footer {
  background: $dark_blue;
  display: block;
  padding: 20px;
  position: relative;
}

.tm-us {
  display: inline-table;
  max-width: 30%;
  width: 30%;
  margin: 2% 0 2% 4%
}

.tm-address {
  display: inline-table;
  max-width: 30%;
  width: 30%;
  margin: 2% 0 2% 25%
}

.tm-us .bold, .tm-address .bold {
  color: $white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 4%;
}

.tm-us p, .tm-address p {
  color: $gray;
  font-size: 16px;
}

.tm-media {
   display: inline;
  margin: 0 0 0 59%;
}
.tm-media img {
  margin: 0.5%;
  width: 3%;
  height: auto;
}

.tm-up {
  position: absolute;
  top: 20%;
  right: 3%;
  width: 3%;
  height: auto;
}

.tm-review:focus {
  outline: none;
}

.tm-revcon:focus {
  outline: none;
  @include box_sizing;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid $light_gray;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

.large-padding-top {
  padding-top: 100px;
}

/* scroll only image path*/
.wrapper {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-around;
  overflow-y: scroll;

  .content {
    margin: 0 auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      list-style-type: none;
    }
  }

  .vertical-line-x {
    width: 500px;
    height: 0px;
    float: left;
    border: 1px inset;
    background-color: $light_gray;
  }

  .vertical-line-y {
    width: 0px;
    height: 500px;
    float: left;
    border: 1px inset;
    background-color: $light_gray;
  }
}

.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
