@import 'variables';

.booking_list_area {
  background: $white_smoke;

  .view_btn {
    font-size: 14px;
    line-height: 36px;
    display: inline-block;
    color: $dark;
    font-weight: 500;
    padding: 0px 30px;
    background: $yellow;
  }

  .card {
    padding: 40px;
    background: $white;
    max-width: 100%;
    border-radius: 10px;
  }

  .checkout-btn {
    margin-top: 20px;
  }
}

.bills_list_area {
  .card {
    padding: 40px;
    background: $white_smoke;
    max-width: 100%;
    border-radius: 10px;
  }
}

.user_info {
  padding-top: 100px;
  text-align: center;

  .row {
    font-family: 'Lato', 'sans-serif';
    min-height: 355px;
    display: inline-block;
    width: 60%;

    .style_image {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: solid 1px;
    }
  }
}
